*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    border: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.rains-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
@keyframes rainAnim {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100vh);
    }
}
.rains-container .rain{
width: 5px;
height: 5px;
border-radius: 50%;
background-color: aliceblue;
animation-name: rainAnim;
animation-duration: 1s;
animation-delay: var(--rain-delay);
animation-iteration-count: infinite;
animation-timing-function: linear;
}